*{
    padding: 0;
    box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: #4A628A;
  display: flex;  
  justify-content: center;
  align-items: center;
  font-family: cursive; 
}
.container{
    background-color: #AD88C6;
    height: 300px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 12px 15px rgba(0,0,0,0.5);
    margin: 10px;
}
.Text_Area{
    resize: none;
    width: 100%;
    height: 100px;
    outline: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gray;
}
.counter{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.counter p{
    font-size: 18px;
    color: black;
}
.Total_Char{
    color: #3300ffce;
}
.Remaining_Char{
    color: #ff2f00;
}